Data Reading & Management = Pandas
EDA/Data Exploration = Matplotlib/seaborn
Preprocessing = SKLearn / IMBLearn
ML = SKLearn/ Keras - TF

Numpy = Tuning and Perform any Math operation
Scipy

# Data Loading

When the instance is running, you can add some files into the instance, right click the file and select copy path.

But warning, when the instance stopped running, you have to upload the dataset again.

In [2]:
import pandas as pd
data = pd.read_csv('/content/telecom_churn.csv')
data

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [3]:
# To understand the data in dimension. (ROWS,COLUMNS)
data.shape

(3333, 20)

General Rules of Dealing with the attributes/columns/features:
Irrelavant Variables = Drop
Data Types that are not matching = Data Casting

In [4]:
data['State'].value_counts()

WV    106
MN     84
NY     83
AL     80
WI     78
OH     78
OR     78
WY     77
VA     77
CT     74
MI     73
ID     73
VT     73
TX     72
UT     72
IN     71
MD     70
KS     70
NC     68
NJ     68
MT     68
CO     66
NV     66
WA     66
RI     65
MA     65
MS     65
AZ     64
FL     63
MO     63
NM     62
ME     62
ND     62
NE     61
OK     61
DE     61
SC     60
SD     60
KY     59
IL     58
NH     56
AR     55
GA     54
DC     54
HI     53
TN     53
AK     52
LA     51
PA     45
IA     44
CA     34
Name: State, dtype: int64

In [5]:
data['Churn'].value_counts()

False    2850
True      483
Name: Churn, dtype: int64

From the above, we know that the variable is an imbalanced variable.

## Note

What is 'noise'?

Missing value or imbalance.

Way to deal with

Missing values:
* Data imputation: But don't do it on your target variable, because it supposed to be actual values.
* Missing more than 30%: Drop the variable.

Imbalance:
* Undersampling: Decrease Majority class equal to Minority class.
* Oversampling: Increase Minority class equal to Majority class. For example: SMOTE. It synthesize the records based on the real data.

* Almost everything can do oversampling/undersampling, except text, because cannot synthesize the text data. But, if you got the Class weight of the text, you can do the technique, but need to explain in your assignment.

The techniques are decided based on the values of your variable. Don't do these on your TARGET VARIABLE because it's supposed to be actual values.

In [6]:
# Describe the data by providing basic statistical details.

data.describe()

,Account length,Area code,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856
std,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

From the above, here're the explanations:

**Count**: The number of non-missing values in each column. This indicates the number of instances for which data is available.

**Mean**: The average value calculated by summing all the values in a column and dividing by the count. It provides an estimate of the central tendency of the data.

**Standard Deviation**: The measure of the spread or dispersion of the values in a column. It indicates how much the values deviate from the mean.

**Minimum**: The smallest value present in a column. It represents the lowest value in the dataset.

**25th Percentile (Q1)**: The value below which 25% of the data falls. It gives insight into the lower range of the data distribution.

**50th Percentile (Median or Q2)**: The value below which 50% of the data falls. It represents the middle value in the dataset.

**75th Percentile (Q3)**: The value below which 75% of the data falls. It gives insight into the upper range of the data distribution.

**Maximum**: The largest value present in a column. It represents the highest value in the dataset.


## Outlier detection:
* standard deviation is more than mean value
* Using visualizations (boxplot, lineplots, heatmaps etc.)

### Techniques:
* IQR: Inter-Quartile Range