# Linear Regression_SLR ----------------------------

In [52]:
#Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import statsmodels.api as sm

In [73]:
# Importing the dataset
dataset = pd.read_csv('kc_house_data.csv')
dataset.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [74]:
dataset.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [75]:
# Linear Regression
from sklearn.linear_model import LinearRegression
reg = LinearRegression()

In [76]:
x = dataset[dataset.columns[5]] 
y = dataset[dataset.columns[2]] # Price

In [77]:
x

0        1180
1        2570
2         770
3        1960
4        1680
         ...
21608    1530
21609    2310
21610    1020
21611    1600
21612    1020
Name: sqft_living, Length: 21613, dtype: int64

In [78]:
y

0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21608    360000.0
21609    400000.0
21610    402101.0
21611    400000.0
21612    325000.0
Name: price, Length: 21613, dtype: float64

In [79]:
X = sm.add_constant(x)
est = sm.OLS(y, X).fit()
print(est.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.493
Model:                            OLS   Adj. R-squared:                  0.493
Method:                 Least Squares   F-statistic:                 2.100e+04
Date:                Sat, 17 Jun 2023   Prob (F-statistic):               0.00
Time:                        17:13:57   Log-Likelihood:            -3.0027e+05
No. Observations:               21613   AIC:                         6.005e+05
Df Residuals:                   21611   BIC:                         6.006e+05
Df Model:                           1
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const       -4.358e+04   4402.690     -9.899      0.000   -5.22e+04    -3.5e+04
sqft_living   280.6236      1.936    144.920      0.000     276.828     284.419
==============================================================================
Omnibus:                    14832.490   Durbin-Watson:                   1.983
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           546444.713
Skew:                           2.824   Prob(JB):                         0.00
Kurtosis:                      26.977   Cond. No.                     5.63e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.63e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [80]:
len(x)

21613

In [81]:
len(y)

21613

In [30]:
# predicting on X_test....This is a rare occasion to predict the TV using one IV
x_1 = dataset['sqft_living'].values.reshape(-1, 1)
y_1 = dataset['price'].values.reshape(-1, 1)
reg.fit(x_1, y_1)
y_pred = reg.predict(x_1)
y_pred.round(2)

array([[287555.07],
       [677621.83],
       [172499.4 ],
       ...,
       [242655.3 ],
       [405416.97],
       [242655.3 ]])

In [31]:
from sklearn.metrics import r2_score
r2_score(y_1, y_pred).round(3)

0.493

In [32]:
from sklearn.metrics import mean_squared_error
print("Mean Squared Error: ", mean_squared_error(y_1, y_pred).round(2))

Mean Squared Error:  68351286833.04

# **Linear Regression_MLR ----------------------------**

In [97]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import statsmodels.api as sm

In [98]:
# Importing the dataset
data = pd.read_csv('50_Startups.csv')
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [99]:
data.shape

(50, 5)

In [100]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [101]:
data.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [102]:
data.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [103]:
data['State'].describe()

count           50
unique           3
top       New York
freq            17
Name: State, dtype: object

In [104]:
# Label Encoding ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
# Can use other encoding techniques such as Factorization or One Hot Encoding
import warnings
warnings.filterwarnings("ignore")

from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
data['State'] = labelencoder.fit_transform(data['State'])
data.head()

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10      2  192261.83
1  162597.70       151377.59        443898.53      0  191792.06
2  153441.51       101145.55        407934.54      1  191050.39
3  144372.41       118671.85        383199.62      2  182901.99
4  142107.34        91391.77        366168.42      1  166187.94

In [105]:
X = data[data.columns[0:4]]
y = data[data.columns[4]]

In [106]:
X

    R&D Spend  Administration  Marketing Spend  State
0   165349.20       136897.80        471784.10      2
1   162597.70       151377.59        443898.53      0
2   153441.51       101145.55        407934.54      1
3   144372.41       118671.85        383199.62      2
4   142107.34        91391.77        366168.42      1
5   131876.90        99814.71        362861.36      2
6   134615.46       147198.87        127716.82      0
7   130298.13       145530.06        323876.68      1
8   120542.52       148718.95        311613.29      2
9   123334.88       108679.17        304981.62      0
10  101913.08       110594.11        229160.95      1
11  100671.96        91790.61        249744.55      0
12   93863.75       127320.38        249839.44      1
13   91992.39       135495.07        252664.93      0
14  119943.24       156547.42        256512.92      1
15  114523.61       122616.84        261776.23      2
16   78013.11       121597.55        264346.06      0
17   94657.16       145077.58        282574.31      2
18   91749.16       114175.79        294919.57      1
19   86419.70       153514.11             0.00      2
20   76253.86       113867.30        298664.47      0
21   78389.47       153773.43        299737.29      2
22   73994.56       122782.75        303319.26      1
23   67532.53       105751.03        304768.73      1
24   77044.01        99281.34        140574.81      2
25   64664.71       139553.16        137962.62      0
26   75328.87       144135.98        134050.07      1
27   72107.60       127864.55        353183.81      2
28   66051.52       182645.56        118148.20      1
29   65605.48       153032.06        107138.38      2
30   61994.48       115641.28         91131.24      1
31   61136.38       152701.92         88218.23      2
32   63408.86       129219.61         46085.25      0
33   55493.95       103057.49        214634.81      1
34   46426.07       157693.92        210797.67      0
35   46014.02        85047.44        205517.64      2
36   28663.76       127056.21        201126.82      1
37   44069.95        51283.14        197029.42      0
38   20229.59        65947.93        185265.10      2
39   38558.51        82982.09        174999.30      0
40   28754.33       118546.05        172795.67      0
41   27892.92        84710.77        164470.71      1
42   23640.93        96189.63        148001.11      0
43   15505.73       127382.30         35534.17      2
44   22177.74       154806.14         28334.72      0
45    1000.23       124153.04          1903.93      2
46    1315.46       115816.21        297114.46      1
47       0.00       135426.92             0.00      0
48     542.05        51743.15             0.00      2
49       0.00       116983.80         45173.06      0

In [107]:
y

0     192261.83
1     191792.06
2     191050.39
3     182901.99
4     166187.94
5     156991.12
6     156122.51
7     155752.60
8     152211.77
9     149759.96
10    146121.95
11    144259.40
12    141585.52
13    134307.35
14    132602.65
15    129917.04
16    126992.93
17    125370.37
18    124266.90
19    122776.86
20    118474.03
21    111313.02
22    110352.25
23    108733.99
24    108552.04
25    107404.34
26    105733.54
27    105008.31
28    103282.38
29    101004.64
30     99937.59
31     97483.56
32     97427.84
33     96778.92
34     96712.80
35     96479.51
36     90708.19
37     89949.14
38     81229.06
39     81005.76
40     78239.91
41     77798.83
42     71498.49
43     69758.98
44     65200.33
45     64926.08
46     49490.75
47     42559.73
48     35673.41
49     14681.40
Name: Profit, dtype: float64

In [42]:
# Linear Regression
from sklearn.linear_model import LinearRegression
Linear_Regression = LinearRegression()
Linear_Regression.fit(X, y)
Linear_Regression.score(X, y).round(2) # Return the R^2

0.95

In [43]:
print(Linear_Regression.coef_)
print(Linear_Regression.intercept_.round(2))

[  0.80575968  -0.02682585   0.02722767 -22.32057723]
50142.51

In [44]:
X2 = sm.add_constant(X)
est = sm.OLS(y, X2)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Profit   R-squared:                       0.951
Model:                            OLS   Adj. R-squared:                  0.946
Method:                 Least Squares   F-statistic:                     217.2
Date:                Sat, 17 Jun 2023   Prob (F-statistic):           8.51e-29
Time:                        16:21:13   Log-Likelihood:                -525.39
No. Observations:                  50   AIC:                             1061.
Df Residuals:                      45   BIC:                             1070.
Df Model:                           4
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const            5.014e+04   6804.555      7.369      0.000    3.64e+04    6.38e+04
R&D Spend           0.8058      0.046     17.609      0.000       0.714       0.898
Administration     -0.0268      0.052     -0.520      0.606      -0.131       0.077
Marketing Spend     0.0272      0.017      1.637      0.109      -0.006       0.061
State             -22.3206   1609.829     -0.014      0.989   -3264.682    3220.041
==============================================================================
Omnibus:                       14.864   Durbin-Watson:                   1.282
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               21.542
Skew:                          -0.949   Prob(JB):                     2.10e-05
Kurtosis:                       5.596   Cond. No.                     1.44e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.44e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

In [45]:
# Predictions
predictions = Linear_Regression.predict(X)
predictions[0:2].round(2)

array([192502.76, 189182.67])

### **Build a Linear Regression predictive model**

In [65]:
len(X)

50

In [66]:
len(y)

50

In [91]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=0)

In [92]:
# training a linear regression model on train
Linear_Regression.fit(X_train,y_train)

LinearRegression()

In [93]:
# Accuracy of the model
#Train Accuracy
print('Train Accuracy = ', (Linear_Regression.score(X_train, y_train).round(2))*100,'%')
# Test Accuracy....This is the one we consider when evaluating the model
print('Test Accuracy = ', (Linear_Regression.score(X_test, y_test).round(2))*100,'%')

Train Accuracy =  95.0 %
Test Accuracy =  94.0 %

In [95]:
len(y_test)

10

In [96]:
len(y_pred)

21613

In [94]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

ValueError: Found input variables with inconsistent numbers of samples: [10, 21613]

In [ ]:
# predicting on X_test
y_pred = Linear_Regression.predict(X_test)
y_pred.round(2)

In [ ]:
pd.DataFrame({'Actual': y_test.round(2), 'Predicted': y_pred.round(2)})

In [ ]:
# evaluation using r-square
Linear_Regression.score(X_train,y_train).round(2)

In [ ]:
# calculating MSE, RMSE, MAE
from sklearn.metrics import mean_squared_error, mean_absolute_error
print("Mean Squared Error: ", mean_squared_error(y_test, y_pred).round(2))
print('Mean Absolute Error: ', mean_absolute_error(y_test, y_pred).round(2))  
print('Root Mean Squared Error: ', np.sqrt(mean_squared_error(y_test, y_pred)).round(2))

In [ ]:
X3 = sm.add_constant(X_train)
est = sm.OLS(y_train, X3)
est2 = est.fit()
print(est2.summary())

In [ ]:
X_train

In [ ]:
# training data plot
x_plot = plt.scatter(X_train['Marketing Spend'], y_train, c='r')
plt.hlines(y=0, xmin= -1, xmax=1)
plt.title('Training Data plot')
plt.xlabel('Marketing Spend')
plt.ylabel('Profit')

**Residuals Plot**

Residuals, in the context of regression models, are the difference between the observed value of the target variable (y_test) and the predicted value (y_pred), i.e. the error of the prediction.

**Residual = Observed – Predicted**

In [ ]:
# residual plot
x_plot = plt.scatter(y_test, (y_test - y_pred), c='b')
plt.hlines(y=0, xmin= -1, xmax=1)
plt.title('Residual plot')
plt.xlabel('y_test')
plt.ylabel('Residuals')

**Using Yellow Brick library**

In [ ]:
# pip install yellowbrick
from yellowbrick.regressor import ResidualsPlot

visualizer = ResidualsPlot(Linear_Regression)

visualizer.fit(X_train, y_train)  # Fit the training data to the visualizer
visualizer.score(X_test, y_test)  # Evaluate the model on the test data
visualizer.show()